<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CRUD-Operations</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentInsertServlet</display-name>
    <servlet-name>StudentInsertServlet</servlet-name>
    <servlet-class>com.controller.StudentInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInsertServlet</servlet-name>
    <url-pattern>/StudentInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo</display-name>
    <servlet-name>ServletDemo</servlet-name>
    <servlet-class>com.controller.ServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo</servlet-name>
    <url-pattern>/ServletDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminInsertServlet</display-name>
    <servlet-name>AdminInsertServlet</servlet-name>
    <servlet-class>com.controller.AdminInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInsertServlet</servlet-name>
    <url-pattern>/AdminInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminListServlet</display-name>
    <servlet-name>AdminListServlet</servlet-name>
    <servlet-class>com.controller.AdminListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListServlet</servlet-name>
    <url-pattern>/AdminListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorDeleteServlet</display-name>
    <servlet-name>AuthorDeleteServlet</servlet-name>
    <servlet-class>com.controller.AuthorDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorDeleteServlet</servlet-name>
    <url-pattern>/AuthorDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteServlet</display-name>
    <servlet-name>AdminDeleteServlet</servlet-name>
    <servlet-class>com.controller.AdminDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteServlet</servlet-name>
    <url-pattern>/AdminDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDeleteServlet</display-name>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>com.controller.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/UserDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublisherDeleteServlet</display-name>
    <servlet-name>PublisherDeleteServlet</servlet-name>
    <servlet-class>com.controller.PublisherDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublisherDeleteServlet</servlet-name>
    <url-pattern>/PublisherDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorInsertServlet</display-name>
    <servlet-name>AuthorInsertServlet</servlet-name>
    <servlet-class>com.controller.AuthorInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorInsertServlet</servlet-name>
    <url-pattern>/AuthorInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInsertServlet</display-name>
    <servlet-name>UserInsertServlet</servlet-name>
    <servlet-class>com.controller.UserInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInsertServlet</servlet-name>
    <url-pattern>/UserInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublisherInsertServlet</display-name>
    <servlet-name>PublisherInsertServlet</servlet-name>
    <servlet-class>com.controller.PublisherInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublisherInsertServlet</servlet-name>
    <url-pattern>/PublisherInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorListServlet</display-name>
    <servlet-name>AuthorListServlet</servlet-name>
    <servlet-class>com.controller.AuthorListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorListServlet</servlet-name>
    <url-pattern>/AuthorListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListServlet</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>com.controller.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/UserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublisherListServlet</display-name>
    <servlet-name>PublisherListServlet</servlet-name>
    <servlet-class>com.controller.PublisherListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublisherListServlet</servlet-name>
    <url-pattern>/PublisherListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorPkServlet</display-name>
    <servlet-name>AuthorPkServlet</servlet-name>
    <servlet-class>com.controller.AuthorPkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorPkServlet</servlet-name>
    <url-pattern>/AuthorPkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPkServlet</display-name>
    <servlet-name>UserPkServlet</servlet-name>
    <servlet-class>com.controller.UserPkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPkServlet</servlet-name>
    <url-pattern>/UserPkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublisherPkServlet</display-name>
    <servlet-name>PublisherPkServlet</servlet-name>
    <servlet-class>com.controller.PublisherPkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublisherPkServlet</servlet-name>
    <url-pattern>/PublisherPkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorUpdateServlet</display-name>
    <servlet-name>AuthorUpdateServlet</servlet-name>
    <servlet-class>com.controller.AuthorUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorUpdateServlet</servlet-name>
    <url-pattern>/AuthorUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateServlet</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>com.controller.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PunlisherUpdateServlet</display-name>
    <servlet-name>PunlisherUpdateServlet</servlet-name>
    <servlet-class>com.controller.PunlisherUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PunlisherUpdateServlet</servlet-name>
    <url-pattern>/PunlisherUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserEditServlet</display-name>
    <servlet-name>UserEditServlet</servlet-name>
    <servlet-class>com.controller.UserEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditServlet</servlet-name>
    <url-pattern>/UserEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTypeInsertServlet</display-name>
    <servlet-name>UserTypeInsertServlet</servlet-name>
    <servlet-class>com.controller.UserTypeInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTypeInsertServlet</servlet-name>
    <url-pattern>/UserTypeInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTypeListServlet</display-name>
    <servlet-name>UserTypeListServlet</servlet-name>
    <servlet-class>com.controller.UserTypeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTypeListServlet</servlet-name>
    <url-pattern>/UserTypeListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTypeEditServlet</display-name>
    <servlet-name>UserTypeEditServlet</servlet-name>
    <servlet-class>com.controller.UserTypeEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTypeEditServlet</servlet-name>
    <url-pattern>/UserTypeEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTypeDeleteServlet</display-name>
    <servlet-name>UserTypeDeleteServlet</servlet-name>
    <servlet-class>com.controller.UserTypeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTypeDeleteServlet</servlet-name>
    <url-pattern>/UserTypeDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTypeUpdateServlet</display-name>
    <servlet-name>UserTypeUpdateServlet</servlet-name>
    <servlet-class>com.controller.UserTypeUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTypeUpdateServlet</servlet-name>
    <url-pattern>/UserTypeUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryInsertServlet</display-name>
    <servlet-name>CategoryInsertServlet</servlet-name>
    <servlet-class>com.controller.CategoryInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryInsertServlet</servlet-name>
    <url-pattern>/CategoryInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryListServlet</display-name>
    <servlet-name>CategoryListServlet</servlet-name>
    <servlet-class>com.controller.CategoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryListServlet</servlet-name>
    <url-pattern>/CategoryListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryDeleteServlet</display-name>
    <servlet-name>CategoryDeleteServlet</servlet-name>
    <servlet-class>com.controller.CategoryDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryDeleteServlet</servlet-name>
    <url-pattern>/CategoryDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryEditServlet</display-name>
    <servlet-name>CategoryEditServlet</servlet-name>
    <servlet-class>com.controller.CategoryEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryEditServlet</servlet-name>
    <url-pattern>/CategoryEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryUpdateServlet</display-name>
    <servlet-name>CategoryUpdateServlet</servlet-name>
    <servlet-class>com.controller.CategoryUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryUpdateServlet</servlet-name>
    <url-pattern>/CategoryUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecurityQuestionInsertServlet</display-name>
    <servlet-name>SecurityQuestionInsertServlet</servlet-name>
    <servlet-class>com.controller.SecurityQuestionInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecurityQuestionInsertServlet</servlet-name>
    <url-pattern>/SecurityQuestionInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecurityQuestionListServlet</display-name>
    <servlet-name>SecurityQuestionListServlet</servlet-name>
    <servlet-class>com.controller.SecurityQuestionListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecurityQuestionListServlet</servlet-name>
    <url-pattern>/SecurityQuestionListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecurityQuestionDeleteServlet</display-name>
    <servlet-name>SecurityQuestionDeleteServlet</servlet-name>
    <servlet-class>com.controller.SecurityQuestionDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecurityQuestionDeleteServlet</servlet-name>
    <url-pattern>/SecurityQuestionDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecurityQuestionEditServlet</display-name>
    <servlet-name>SecurityQuestionEditServlet</servlet-name>
    <servlet-class>com.controller.SecurityQuestionEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecurityQuestionEditServlet</servlet-name>
    <url-pattern>/SecurityQuestionEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecurityQuestionUpdateServlet</display-name>
    <servlet-name>SecurityQuestionUpdateServlet</servlet-name>
    <servlet-class>com.controller.SecurityQuestionUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecurityQuestionUpdateServlet</servlet-name>
    <url-pattern>/SecurityQuestionUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentsInsertServlet</display-name>
    <servlet-name>CommentsInsertServlet</servlet-name>
    <servlet-class>com.controller.CommentsInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentsInsertServlet</servlet-name>
    <url-pattern>/CommentsInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentsListServlet</display-name>
    <servlet-name>CommentsListServlet</servlet-name>
    <servlet-class>com.controller.CommentsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentsListServlet</servlet-name>
    <url-pattern>/CommentsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentsEditServlet</display-name>
    <servlet-name>CommentsEditServlet</servlet-name>
    <servlet-class>com.controller.CommentsEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentsEditServlet</servlet-name>
    <url-pattern>/CommentsEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentsUpdateServlet</display-name>
    <servlet-name>CommentsUpdateServlet</servlet-name>
    <servlet-class>com.controller.CommentsUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentsUpdateServlet</servlet-name>
    <url-pattern>/CommentsUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentsDeleteServlet</display-name>
    <servlet-name>CommentsDeleteServlet</servlet-name>
    <servlet-class>com.controller.CommentsDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentsDeleteServlet</servlet-name>
    <url-pattern>/CommentsDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessagesInsertServlet</display-name>
    <servlet-name>MessagesInsertServlet</servlet-name>
    <servlet-class>com.controller.MessagesInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessagesInsertServlet</servlet-name>
    <url-pattern>/MessagesInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessagesListServlet</display-name>
    <servlet-name>MessagesListServlet</servlet-name>
    <servlet-class>com.controller.MessagesListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessagesListServlet</servlet-name>
    <url-pattern>/MessagesListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessagesEditServlet</display-name>
    <servlet-name>MessagesEditServlet</servlet-name>
    <servlet-class>com.controller.MessagesEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessagesEditServlet</servlet-name>
    <url-pattern>/MessagesEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessagesUpdateServlet</display-name>
    <servlet-name>MessagesUpdateServlet</servlet-name>
    <servlet-class>com.controller.MessagesUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessagesUpdateServlet</servlet-name>
    <url-pattern>/MessagesUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessagesDeleteServlet</display-name>
    <servlet-name>MessagesDeleteServlet</servlet-name>
    <servlet-class>com.controller.MessagesDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessagesDeleteServlet</servlet-name>
    <url-pattern>/MessagesDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RatingInsertServlet</display-name>
    <servlet-name>RatingInsertServlet</servlet-name>
    <servlet-class>com.controller.RatingInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingInsertServlet</servlet-name>
    <url-pattern>/RatingInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RatingEditServlet</display-name>
    <servlet-name>RatingEditServlet</servlet-name>
    <servlet-class>com.controller.RatingEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingEditServlet</servlet-name>
    <url-pattern>/RatingEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RatingListServlet</display-name>
    <servlet-name>RatingListServlet</servlet-name>
    <servlet-class>com.controller.RatingListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingListServlet</servlet-name>
    <url-pattern>/RatingListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RatingUpdateServlet</display-name>
    <servlet-name>RatingUpdateServlet</servlet-name>
    <servlet-class>com.controller.RatingUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingUpdateServlet</servlet-name>
    <url-pattern>/RatingUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RatingDeleteServlet</display-name>
    <servlet-name>RatingDeleteServlet</servlet-name>
    <servlet-class>com.controller.RatingDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingDeleteServlet</servlet-name>
    <url-pattern>/RatingDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorUrlInsertServlet</display-name>
    <servlet-name>AuthorUrlInsertServlet</servlet-name>
    <servlet-class>com.controller.AuthorUrlInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorUrlInsertServlet</servlet-name>
    <url-pattern>/AuthorUrlInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorUrlDeleteServlet</display-name>
    <servlet-name>AuthorUrlDeleteServlet</servlet-name>
    <servlet-class>com.controller.AuthorUrlDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorUrlDeleteServlet</servlet-name>
    <url-pattern>/AuthorUrlDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorUrlEditServlet</display-name>
    <servlet-name>AuthorUrlEditServlet</servlet-name>
    <servlet-class>com.controller.AuthorUrlEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorUrlEditServlet</servlet-name>
    <url-pattern>/AuthorUrlEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorUrlListServlet</display-name>
    <servlet-name>AuthorUrlListServlet</servlet-name>
    <servlet-class>com.controller.AuthorUrlListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorUrlListServlet</servlet-name>
    <url-pattern>/AuthorUrlListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorUrlUpdateServlet</display-name>
    <servlet-name>AuthorUrlUpdateServlet</servlet-name>
    <servlet-class>com.controller.AuthorUrlUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorUrlUpdateServlet</servlet-name>
    <url-pattern>/AuthorUrlUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorDescriptionUploadServlet</display-name>
    <servlet-name>AuthorDescriptionUploadServlet</servlet-name>
    <servlet-class>com.controller.AuthorDescriptionUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorDescriptionUploadServlet</servlet-name>
    <url-pattern>/AuthorDescriptionUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookInsertServlet</display-name>
    <servlet-name>BookInsertServlet</servlet-name>
    <servlet-class>com.controller.BookInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookInsertServlet</servlet-name>
    <url-pattern>/BookInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookListServlet</display-name>
    <servlet-name>BookListServlet</servlet-name>
    <servlet-class>com.controller.BookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookListServlet</servlet-name>
    <url-pattern>/BookListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDeleteServlet</display-name>
    <servlet-name>BookDeleteServlet</servlet-name>
    <servlet-class>com.controller.BookDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDeleteServlet</servlet-name>
    <url-pattern>/BookDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookEditServlet</display-name>
    <servlet-name>BookEditServlet</servlet-name>
    <servlet-class>com.controller.BookEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookEditServlet</servlet-name>
    <url-pattern>/BookEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookUpdateServlet</display-name>
    <servlet-name>BookUpdateServlet</servlet-name>
    <servlet-class>com.controller.BookUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookUpdateServlet</servlet-name>
    <url-pattern>/BookUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInsertServlet1</display-name>
    <servlet-name>UserInsertServlet1</servlet-name>
    <servlet-class>com.controller.UserInsertServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInsertServlet1</servlet-name>
    <url-pattern>/UserInsertServlet1</url-pattern>
  </servlet-mapping>
</web-app>